@import "../../variables.scss";

footer{
  position: fixed;
  bottom: 0;
  width: calc( 100% - #{$sidebar-width} );
}


@media(max-width:$media-screen){
  footer{
    width: calc( 100% - #{$mobile-sidebar-width} );
  }
}
