@import "../variables.scss";

.layout-content{
  margin-left: $sidebar-width;
  transition: all 0.5s ease-in-out;
}

@media(max-width:$media-screen){
  .layout-content{
    margin-left: $mobile-sidebar-width;
  }
}
